<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>/backend/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>houtai</servlet-name>
    <jsp-file>/backend/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>houtai</servlet-name>
    <url-pattern>/houtai</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <context-param>
    <param-name>isSupportCheckCode</param-name>
    <param-value>0</param-value>
  </context-param>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>org.bs.servlet.backend.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>attachmentFilter</filter-name>
    <filter-class>org.bs.servlet.backend.AttachmentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>attachmentFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>org.bs.servlet.backend.LoginFilter</filter-class>
    <init-param>
      <param-name>urlPattern</param-name>
      <param-value>.jsp,Servlet</param-value>
    </init-param>
    <init-param>
      <param-name>escape</param-name>
      <param-value>login.jsp,regist.jsp,LoginServlet,BaseServlet,UserServlet,MemberServlet,add_member_success.jsp,add_member.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/backend/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>index</filter-name>
    <filter-class>org.bs.servlet.backend.IndexFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>index</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitBeanFactoryServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.InitBeanFactoryServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SysServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.SysServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.RoleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/backend/UploadServlet</url-pattern>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/backend/MemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/MemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminsServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.AdminsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminsServlet</servlet-name>
    <url-pattern>/backend/AdminsServlet</url-pattern>
    <url-pattern>/AdminsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/backend/CourseServlet</url-pattern>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PptsServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.PptsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PptsServlet</servlet-name>
    <url-pattern>/backend/PptsServlet</url-pattern>
    <url-pattern>/PptsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VideosServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.VideosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideosServlet</servlet-name>
    <url-pattern>/backend/VideosServlet</url-pattern>
    <url-pattern>/VideosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WordsServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.WordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordsServlet</servlet-name>
    <url-pattern>/backend/WordsServlet</url-pattern>
    <url-pattern>/WordsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestsServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.TestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestsServlet</servlet-name>
    <url-pattern>/backend/TestsServlet</url-pattern>
    <url-pattern>/TestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoneTestServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.DoneTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoneTestServlet</servlet-name>
    <url-pattern>/backend/DoneTestServlet</url-pattern>
    <url-pattern>/DoneTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/backend/IndexServlet</url-pattern>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/backend/RoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SysServlet</servlet-name>
    <url-pattern>/backend/SysServlet</url-pattern>
    <url-pattern>/SysServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/backend/LoginServlet</url-pattern>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/backend/UserServlet</url-pattern>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/backend/CheckCode.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitBeanFactoryServlet</servlet-name>
    <url-pattern>/servlet/InitBeanFactoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>org.bs.servlet.backend.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/backend/NewsServlet</url-pattern>
    <url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppLoginServlet</display-name>
    <servlet-name>AppLoginServlet</servlet-name>
    <servlet-class>org.bs.client.AppLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppLoginServlet</servlet-name>
    <url-pattern>/AppLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppRegisterServlet</display-name>
    <servlet-name>AppRegisterServlet</servlet-name>
    <servlet-class>org.bs.client.AppRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppRegisterServlet</servlet-name>
    <url-pattern>/AppRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppGetVideoServlet</display-name>
    <servlet-name>AppGetVideoServlet</servlet-name>
    <servlet-class>org.bs.client.AppGetVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppGetVideoServlet</servlet-name>
    <url-pattern>/AppGetVideoServlet</url-pattern>
  </servlet-mapping>
</web-app>